pypdf
langchain
langchain-cli
torch
accelerate
transformers
sentence-transformers
faiss-cpu
streamlit
langchain-community
langchain-huggingface
huggingface_hub
ctransformers
sentencepiece
sacremoses
streamlit-mic-recorder
pydub
SpeechRecognition
googletrans
gTTS
playsound==1.2.2
ffmpeg-python
llama-cpp-python